.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  .mat-mdc-progress-spinner {
    transform: scale(.6);

    .circle {
      stroke: white !important;
    }
  }

  .mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
    .circle {
      stroke: white !important;
    }
  }
}
