@import "../../../general-style/variables";

.tasks-component {
  .mat-mdc-card {
    .mat-mdc-card-content {
      .mat-mdc-list {
        height: calc(100vh - (60px + 1.2rem + (16px + 16px + 16px + 8px)));
        overflow-y: auto;
        overflow-x: hidden;
      }
    }
  }

  .list-tasks {
    width: 42vw;
    margin: auto;

    .mat-mdc-list {
      padding-bottom: 0;

      .mat-mdc-list-item {
        padding-left: .3rem;
        padding-right: .3rem;

        .mdc-list-item__content {
          .mat-mdc-list-item-title,
          .mat-mdc-list-item-unscoped-content > .mat-mdc-list-item__description {
            display: flex;
            align-items: center;
          }

          .mat-mdc-list-item-title {
            cursor: pointer;

            .title {
              max-width: 60%;
              color: $blue-gray-50-800;
              font-size: 1.25rem;
            }

            .date {
              color: $blue-gray-50-600;
              font-weight: bold;
              background-color: rgb(84 110 122 / 10%);
              padding: 6px 12px;
              border-radius: 100px;
            }

            .pending-task {
              color: $blue-gray-50-600;
            }

            .end-task {
              color: green;
            }
          }

          .text-decoration-line-through {
            text-decoration: line-through;
          }

          .mat-mdc-list-item__description {
            > span {
              padding-left: 2.5rem;
              width: calc(100% - (50px + 2.5rem));
              color: $blue-gray-50-600;
            }

            .btn-delete {
              background-color: $red-50-100;
              color: $red-50-900;

              &:hover {
                background-color: $red-50-400;
                color: white;
              }
            }

            .btn-edit {
              background-color: $blue-50;
              color: $blue-50-900;

              &:hover {
                background-color: $blue-50-600;
                color: white;
              }
            }
          }
        }
      }

      .mat-list-item__divider {
        border-top-color: rgba(0, 0, 0, 0.1) !important;
      }

      .mat-mdc-list-item-line {
        display: flex;
        flex-direction: row;
        order: 2;

        span {
          width: calc(100% - 50px);
        }

        .mat-icon {
          width: 50px;
          text-align: center;
        }
      }
    }
  }
}
