@import './variables';

.mat-mdc-unelevated-button:not(:disabled) {
  background-color: $primary-color !important;
}

.btn-add {
  position: absolute !important;
  right: 3rem;
  bottom: 1rem;
  border-radius: 100px !important;
  background-color: $primary-color !important;

  .mat-icon {
    color: white !important;
  }
}
